.buttombar {
  padding: 40px 100px;
  height: 50px;
  width: auto;
  display: flex;
  justify-content: start;
  gap: 150px;
  align-items: center;
}

.buttombar__left {
  display: flex;
  gap: 10px;
  font-size: 2.5em;
}

.buttombar__left__welcome {
  color: #ee7c53;
}

.buttom__bar__right__resumebutton {
  padding: 20px;
  color: #ee7c53;
  border: 2px solid #ee7c53;
  cursor: pointer;
  font-size: 1.2em;
  transition: border-color .2s, background-color .2s , color .2s;
}

.buttom__bar__right__resumebutton:hover {
  background-color: #ee7c53;
  color: white;
}

.d {
  color: rgb(228, 182, 138);
}